@import './global';

.main {
  max-width: 600px;
  margin: auto;
  background-image: url("src/assets/img/paperBg.gif");

  @import "./header";
  @import "./content";
  @import "./footer";
}

@import "./font";
